Program to find all numbers divisible by 7 (no%7==0)
but are not multiple of 5 (no%5!=0)
input---2000 to 3000
output--comma separated sequence on a single line

In [3]:
# dfgfhgtrd    ctrl+/
# dfgtr

l1=list(range(2000,3001))
for i in l1:
    if (i%7 == 0 and i%5 != 0):
        print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,

Program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name

In [1]:
uname='Anusha'
uname[::-1]

'ahsunA'

In [2]:
'hello'.count('l')

2

In [26]:
uname='Anu Devi'
l1=uname.split()
' '.join(l1[::-1])

'Devi Anu'

In [30]:
uname = input("Enter user first name and last name   ")
st=''

for i in uname[::-1]:
    if i != ' ':
        st = st + i
    else:
        st = st + ' '
print(st)

Enter user first name and last name   Anu usha Devi
iveD ahsu unA

In [3]:
str1 = input("Enter First name and last name   ")
st=''
i=len(str1)-1

while i >= 0:
    
    if str1[i] == ' ':
        i-=1
        break
    
    ctr=1
    while str1[i] != ' ':
        ctr += 1
        i -= 1
    
    st = st + str1[i:i+ctr]
    i-=1
    
if i<0:
    st = st +' '+ str1[0:i+ctr+1]
    
print(st)

Enter First name and last name   I am Anusha Kare
 Kare Anusha am I

Program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r

In [19]:
dm = 12
Vol = (4/3) * 3.14 * (dm/2)
print("Volume of Sphere with diameter {0:.1f} cm is {1:.2f} ".format(dm,Vol))

Volume of Sphere with diameter 12.0 cm is 25.12