
Numbers:

Strings:sequence of characters,we use single quotes or double quotes to represent strings.

We access string characters by indexing.
With the help of slice we can access range of characters of a string.
Strings are immutable.

for multiline string , enclose them in triple double quotes or single quotes
== to compare stringss
+ to concatenate strings

4 built-in data types or data structures to store multiple items in a single variable

sets: unique elements

Lists:mutable,indexed,allows duplicates

Tuples:immutable ,indexed,allows duplicates

Dictionaries:are used to store data in the form of key value pairs separated by : within curly braces.

In [36]:
a="Anusha"
for i in a:
    print(i)

A
n
u
s
h
a

In [15]:
l1=[1,2,3,4,5]
l1[4]

5

In [16]:
l1[3]=6
l1

[1, 2, 3, 6, 5]

In [18]:
l1.append(7)
l1

[1, 2, 3, 6, 5, 7]

In [19]:
l1.append(1)
l1

[1, 2, 3, 6, 5, 7, 1]

In [20]:
l1.index(7)

5

In [24]:
l1.insert(2,0)
l1

[1, 2, 0, 3, 6, 5, 7, 1]

In [26]:
l1.remove(6)
l1

[1, 2, 0, 3, 5, 7, 1]

In [27]:
l1.clear()
l1

[]

In [30]:
x={2,3,4,5}
x

{2, 3, 4, 5}

In [31]:
x.add(6)  #no order in sets and no duplicates
x

{2, 3, 4, 5, 6}

In [2]:
diccy={'k1':'one','k2':'two','k3':'three'}
diccy

{'k1': 'one', 'k2': 'two', 'k3': 'three'}

In [3]:
diccy.keys()

dict_keys(['k1', 'k2', 'k3'])

In [4]:
diccy.values()

dict_values(['one', 'two', 'three'])

In [5]:
diccy.items()

dict_items([('k1', 'one'), ('k2', 'two'), ('k3', 'three')])

In [6]:
diccy['k4']='four'
diccy

{'k1': 'one', 'k2': 'two', 'k3': 'three', 'k4': 'four'}

In [7]:
diccy['k1']='five'
diccy  #dictionary cannot have two items with the same key

{'k1': 'five', 'k2': 'two', 'k3': 'three', 'k4': 'four'}

In [8]:
len(diccy)

4

In [10]:
diccy.pop('k3')
diccy

{'k1': 'five', 'k2': 'two', 'k4': 'four'}

In [11]:
diccy.pop('five')  # cant remove item by giving values, key needed
diccy

KeyError: 'five'

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [40]:
type(3+1.5+4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [42]:
# Square root:
25**0.5

5.0

In [43]:
# Square:
5**2

25

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [44]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [67]:
s ='hello'
# Reverse the string using slicing
#slice(start,end,step)
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [70]:
s ='hello'
# Print out the 'o'
print(s[4])
print(s[-1])

o
o

## Lists

Build this list [0,0,0] two separate ways.

In [71]:
# Method 1:
list1=[0,0,0]
list1

[0, 0, 0]

In [72]:
l1=3*[0]
l1

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [73]:
list3 = [1,2,[3,4,'hello']]

list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [75]:
list4 = [5,3,4,6,1]

list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [76]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [78]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [83]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [90]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

Use a set to find the unique values of the list below:

In [92]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
k=set(list5)

k

{1, 2, 3, 4, 11, 22, 33}

In [93]:
# Answer before running cell
2 > 3

False

In [94]:
# Answer before running cell
3 <= 2

False

In [95]:
# Answer before running cell
3 == 2.0

False

In [96]:
# Answer before running cell
3.0 == 3

True

In [97]:
# Answer before running cell
4**0.5 != 2

False

In [98]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False